@model BCES.Models.Parts.NscPartsUsedViewModel

<div class="k-edit-form-container">
    <div class="k-edit-label">
        <label for="SupplierName">Supplier Name</label>
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().AutoCompleteFor(m => m.SupplierName)
            .DataTextField("Text")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetSupplierNames", "NscPartsUsed");
                });
            })
            .HtmlAttributes(new { style = "width: 100%;" })
        )
    </div>

    <div class="k-edit-label">
        <label for="SupplierNumber">Supplier Number</label>
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().AutoCompleteFor(m => m.SupplierNumber)
            .DataTextField("Text")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetSupplierNumbers", "NscPartsUsed");
                });
            })
            .HtmlAttributes(new { style = "width: 100%;" })
        )
    </div>

    <div class="k-edit-label">
        <label for="Keyword">Keyword</label>
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().AutoCompleteFor(m => m.Keyword)
            .DataTextField("Text")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetKeywords", "NscPartsUsed");
                });
            })
            .HtmlAttributes(new { style = "width: 100%;" })
        )
    </div>

    <div class="k-edit-label">
        <label for="PartDescription">Part Description</label>
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().AutoCompleteFor(m => m.PartDescription)
            .DataTextField("Text")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetPartDescriptions", "NscPartsUsed");
                });
            })
            .HtmlAttributes(new { style = "width: 100%;" })
        )
    </div>

    <div class="k-edit-label">
        <label for="PartUnit">Part Unit ($/Unit)</label>
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().TextBoxFor(m => m.PartUnit)
            .HtmlAttributes(new { style = "width: 100%;" })
        )
    </div>

    <div class="k-edit-buttons k-state-default">
        <button type="button" id="saveButton" class="k-button k-button-icontext k-primary"><span class="k-icon k-i-check"></span>Save</button>
        <button type="button" id="cancelButton" class="k-button k-button-icontext"><span class="k-icon k-i-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        var grid = $("#NscPartsUsedGrid").data("kendoGrid");

        // Save button click handler
        $("#saveButton").click(function () {
            grid.saveChanges();
            $("#NscPartsAddUpdate").data("kendoWindow").close();
        });

        // Cancel button click handler
        $("#cancelButton").click(function () {
            grid.cancelChanges();
            $("#NscPartsAddUpdate").data("kendoWindow").close();
        });
    });
</script>